<section class="section" id="head">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title">Flash Sale</h1>
				<h2 class="subtitle">Waste Less Food</h2>
				<!-- EDITED mission statement, Tali -->
				<h3 class="tagline">
					Flash Sale strives to minimize food waste in Cape Town by encouraging restaurants and customers to act more sustainably while also earning or saving money. The FS platform enables partnered restaurants to inform customers of their end-of-the-day "flash sales" on food items that otherwise would be thrown out.</br><small>Plans for growth in Cape Town and then to the US are in the works!</small>
					</br></br><a href="/posts" class="btn btn-default btn-lg">Check Out Our Flash Sales!</a>

				<div><center><h1 class="title"><img src="/images/5logo.jpg" alt= ""></h1></center></div>

				<ul class="list-inline list-social">	
				<strong></br><a class="full-rounded" href="https://www.facebook.com/f1ashsa1e" title="social"><i class="fa fa-facebook"></i></a></strong>
				</ul>		

			</h3>
			</div> <!-- /col -->



		</div> <!-- /row -->

	</div>

</section>

<center><p>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Restaurant Sign Up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Restaurant Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p></center>



