</br>
<nav>
  <div class="container">
    <div class="dropdown">
      <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><%= link_to "Our Mission", welcome_index_path %></li>
        <li><%= link_to "Flash Sales", posts_path %></li>
        <li><%= link_to "Feedback", feedback_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
        <li><%= link_to "For Restaurants", dashboard_path %></li>
      </ul>
    </div>
  </div>
</nav>



<div class="main-content">
</br></br></br></br>
<div class="container">

<div class="divider" id="section5"></div>  

	<div class="row">

	  <div class="col-sm-9 col-sm-offset-1">

		  <div class="row form-group">
			<div class="col-md-12">

			<h1 class="title">Flash Sale Feedback</h1></br>

		  </div>      

			<div class="col-xs-4">
			  <input type="text" class="form-control" id="firstName" name="name" placeholder="Your Name">
			</div>

			<div class="col-xs-6">
			  <input type="text" class="form-control" id="email" name="email" placeholder="Your Email">
			</div>
		  </div>

		  <div class="row form-group">
			  <div class="col-xs-10">
				<textarea class="form-control" placeholder="Your Feedback"></textarea>
			  </div>
		  </div>

		  <div class="row form-group">
			  <div class="col-xs-10">
			  	<p><a href="/welcome" <button class="btn btn-default pull-right">Help Us Improve!</button></a></p>
			  </div>
		  </div>
		
	  </div>
</div>
</div>


<style>
	body {
		padding: 0 0 0 151px;
	}
	h1 {
		padding: 0 auto;
	}
</style>






