<%= form_for @post do |f| %>

	<div class="container">

    	<div class="row">
        	<div class="row-md-6">
        		<center><h1 class="title">New Flash Sale</h1></center>
        	</div>

</br>

        	<div class="row-md-6">
        		<center><%= f.label "Restaurant:" %></center>
				<center><%= f.text_field :restaurant_name, :placeholder => "Name" %></center>
        	</div>

        	<div class="row-md-6">
				<center><%= f.label "Sale start time:" %></center>
				<center><%= f.text_field :start_time %></center>
			</div>

			<div class="row-md-6">
				<center><%= f.label "Sale end time:" %></center>
				<center><%= f.text_field :end_time %></center>
        	</div>

        	<div class="row-md-8">
        		<center><%= f.label "Flash sale deal:" %></center>
				<center><%= f.text_field :deal, :placeholder => "Please describe discounts & menu items!" %></center>
        	</div>
</br>
			<div class="row form-group">
			  <div class="inline">
				<center><%= f.submit %></center>
			</div>

    	</div>
	</div>

<% end %>