<%= form_for @post do |f| %>

	<div>
		<%= f.label "Restaurant:" %>
		<%= f.text_field :restaurant_name %>
	</div>

	<div>
		<%= f.label "Sale start time:" %>
		<%= f.text_field :start_time %>
	</div>


	<div>
		<%= f.label "Sale end time:" %>
		<%= f.text_field :end_time %>
	</div>

	<div>
		<%= f.label "Flash sale deal:" %>
		<%= f.text_field :deal %>
	</div>

	<div>
		<%= f.submit %>
	</div>

<% end %>