<h1> My Profile </h1>


<%= link_to 'CREATE NEW FLASH SALE!', new_post_path %>
<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="/welcome" class="active">Our Mission</a></li>
				<li><a href="/posts">Flash Sales' Listings</a></li>
				<li><a href="/dashboard">Restaurant Profile</a></li>
				<li><a href="/feedback">Help Us Improve!</a></li>
			</ul>
		</div>
	</div>
</nav>


<table>
	<tr>
		<th>Date</th>
		<th>Restaurant</th>
		<th>Flash Sale</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th colspan="2"></th>
	</tr>
		<% @posts.each do |post| %>
	<tr>

		<td><%= post.created_at %></td>
		<td><%= post.restaurant_name %></td>
		<td><%= post.deal %></td>
		<td><%= post.start_time %></td>
		<td><%= post.end_time %></td>
		<td><%= link_to 'Edit Sale | | |', edit_post_path(post) %></td>
		<td><%= link_to 'Destroy', post_path(post),
       			method: :delete,
       			data: { confirm: 'Are you sure?' } %></td>

	</tr>
		<% end %>
</table>


</br><%= link_to 'Back to all sales', posts_path %>
<%= link_to 'New Flash Sale', new_post_path %>



<strong> History</strong>
</br>
<%= link_to 'New Flash Sale', new_post_path %>

