<h1> My Profile </h1>

<<<<<<< HEAD
=======
<<<<<<< HEAD

<%= link_to 'CREATE NEW FLASH SALE!', new_post_path %>
=======
>>>>>>> 0360a7de3b47ef9eef5ff0d33ad5f52f794e7407
=======
>>>>>>> 0903e8aaed40104f799f403df2f943caec356b7c
<%= link_to 'CREATE NEW FLASH SALE', new_post_path %>


<table>
	<tr>
		<th>Date</th>
		<th>Restaurant</th>
		<th>Flash Sale</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th colspan="2"></th>
	</tr>
		<% @posts.each do |post| %>
	<tr>

		<td><%= post.created_at %></td>
		<td><%= post.restaurant_name %></td>
		<td><%= post.deal %></td>
		<td><%= post.start_time %></td>
		<td><%= post.end_time %></td>
		<td><%= link_to 'Edit Sale | | |', edit_post_path(post) %></td>
		<td><%= link_to 'Destroy', post_path(post),
       			method: :delete,
       			data: { confirm: 'Are you sure?' } %></td>

	</tr>
		<% end %>
</table>

<<<<<<< HEAD
<<<<<<< HEAD
</br><%= link_to 'Back to all sales', posts_path %>
<%= link_to 'New Flash Sale', new_post_path %>


=======
<<<<<<< HEAD
=======
>>>>>>> 0903e8aaed40104f799f403df2f943caec356b7c
</br><%= link_to 'Back To All Sales', posts_path %> | | |

<%= link_to 'New Flash Sale', new_post_path %>

<<<<<<< HEAD

=======
</br><%= link_to 'Back to all sales', posts_path %>

<strong> History</strong>
</br>
<%= link_to 'New Flash Sale', new_post_path %>

>>>>>>> 157aa965e0a1513f6881ed0409cc553534af1d38
>>>>>>> 0360a7de3b47ef9eef5ff0d33ad5f52f794e7407

=======
>>>>>>> 0903e8aaed40104f799f403df2f943caec356b7c
