<div class="row">
	<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
		<h1 class="title">FLASH SALES</h1>
	</div>
</div>
</br>


<% if user_signed_in? %>
	<%= link_to 'Dashboard', dashboard_path %>
<% end %>
<!-- Third (Works) section -->
<br/>
<% @posts.each do |post| %>
<div class="col-sm-4">
	<div class="thumbnail">
		<img src="bakery 8.jpeg" alt="">
	<div class="Flash Sale">
		<h2><%= post.restaurant_name %></h2>
		<h3><%=post.start_time%></h3>
		<h4><%=post.end_time%></h4>
		<p><%=post.deal%></p>

	<p><a href="#" class="btn btn-primary" role="Map">Button</a> <a href="#" class="btn btn-default" role="Website Url">Button</a></p>
		</div>
	</div>
</div>
<% end %>