
<!-- 
	<table>
		<tr>
			<th>Date</th>
			<th>Restaurant</th>
			<th>Flash Sale</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th colspan="2"></th>
		</tr>
			<% @posts.each do |post| %>
		<tr>

			<td><%= post.created_at %></td>
			<td><%= post.restaurant_name %></td>
			<td><%= post.deal %></td>
			<td><%= post.start_time %></td>
			<td><%= post.end_time %></td>	
		</tr>
			<% end %>
	</table> -->

<div class="row">
	<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
		<h1 class="title">Today's Flash Sales</h1>

			<p class="lead text-center">
			Huge thank you to our team of restaurants<br>
			     and their enthusiastic customers!
			</p>

	</div>
</div>
</br>


<br/>
<% @posts.each do |post| %>
<div class="col-sm-4">
	<div class="thumbnail">
	<div class="Flash Sale">
		<h2><strong><%= post.restaurant_name %></strong></h2>
		<h3><%=post.start_time%>-<%=post.end_time%></h3>
		<h4><%=post.deal%></h4>

<a href="/users/17/map" class="btn btn-default" role="Website Url">Location</a></p>
		</div>
	</div>
</div>
<% end %>

<div class="col-sm-4">
<div class="photos">
	<img src="bakery8.jpg" alt="">
</div>

