
<% if user_signed_in? %>
	<%= link_to 'Dashboard', dashboard_path %>
<% end %>


</br>

<table>
	<tr>
		<th>Date</th>
		<th>Restaurant</th>
		<th>Flash Sale</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th colspan="2"></th>
	</tr>
		<% @posts.each do |post| %>
	<tr>

		<td><%= post.created_at %></td>
		<td><%= post.restaurant_name %></td>
		<td><%= post.deal %></td>
		<td><%= post.start_time %></td>
		<td><%= post.end_time %></td>
		
			
		
	</tr>
		<% end %>
</table>