</br>
<%= link_to 'New Flash Sale', new_post_path %>
<table>
	<tr>
		<th>Date</th>
		<th>Restaurant</th>
		<th>Flash Sale</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th colspan="2"></th>
	</tr>
		<% @posts.each do |post| %>
	<tr>

			<td><%= post.created_at %></td>
			<td><%= post.restaurant_name %></td>
			<td><%= post.deal %></td>
			<td><%= post.start_time %></td>
			<td><%= post.end_time %></td>
			
			
		
	</tr>
		<% end %>
</table>