<!-- 
	<table>
		<tr>
			<th>Date</th>
			<th>Restaurant</th>
			<th>Flash Sale</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th colspan="2"></th>
		</tr>
			<% @posts.each do |post| %>
		<tr>

			<td><%= post.created_at %></td>
			<td><%= post.restaurant_name %></td>
			<td><%= post.deal %></td>
			<td><%= post.start_time %></td>
			<td><%= post.end_time %></td>	
		</tr>
			<% end %>
	</table> -->



<section class="section" id="themes">
	<div class="container">
		<h2 class="text-center title">Fresh Flash Sales</h2>
			<p class="lead text-center">
			Huge thank you to our team of restaurants<br>
			     and their enthusiastic customers!
			</p>

	<div class="posts">
		<% @posts.each do |post| %>
			<p><%= post.created_at %></p>
			<p><%= post.restaurant_name %></p>
			<p><%= post.deal %></p>
			<p><%= post.start_time %></p>
			<p><%= post.end_time %></p>
		<% end %>
	</div>
	


