
<% if user_signed_in? %>
	<%= link_to 'Dashboard', dashboard_path %>
<% end %>
<!-- Third (Works) section -->
<section class="section" id="posts">
	
			<% @posts.each do |post| %>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/screenshots/sshot3.jpg" alt="">
					<div class="Flash Sale">
						<h2><%= post.restaurant_name %></h2>
						<h3><%=post.start_time%></h3>
						<h3><%=post.end_time%></h3>
						<p><%=post.deal%></p>
						<p><a href="#" class="btn btn-primary" role="Map">Button</a> <a href="#" class="btn btn-default" role="Website Url">Button</a></p>
					</div>
				</div>
			</div>
			<% end %>
</section>

<div class="row">
	<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
		<h1 class="title">FLASH SALES</h1>
	</div>
</div>
</br>


<!-- <table>
	<tr>
		<th>Date</th>
		<th>Restaurant</th>
		<th>Flash Sale</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th colspan="2"></th>
	</tr>
		<% @posts.each do |post| %>
	<tr>

		<td><%= post.created_at %></td>
		<td><%= post.restaurant_name %></td>
		<td><%= post.deal %></td>
		<td><%= post.start_time %></td>
		<td><%= post.end_time %></td>	
	</tr>
		<% end %>
</table> -->

</br></br><%= link_to "Home", welcome_index_path %>


<section class="section", id="head">

<!-- <section class="section" id="themes">
	<div class="container">
	
		<h2 class="text-center title">Flash</h2>
		<p class="lead text-center">
			Huge thank you to our team of restaurants<br>
			     and their enthusiastic customers!
		</p>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="assets/screenshots/sshot1.jpg" alt="">
					<div class="caption">
						<h3>
							<table>
								<tr>
									<th>Date</th>
									<th>Restaurant</th>
									<th>Flash Sale</th>
									<th>Start Time</th>
									<th>End Time</th>
									<th colspan="2"></th>
								</tr>
									<% @posts.each do |post| %>
								<tr>

									<td><%= post.created_at %></td>
									<td><%= post.restaurant_name %></td>
									<td><%= post.deal %></td>
									<td><%= post.start_time %></td>
									<td><%= post.end_time %></td>	
								</tr>
									<% end %>
							</table>
						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section> -->

