
<h1>Amazing Flash Sales!!</h1>

<table>
<tr>
	<th>Date</th>
	<th>Restaurant</th>
	<th>Flash Sale</th>
	<th>Start Time</th>
	<th>End Time</th>
	<th colspan="3"></th> 
</tr>


<tr>
	<td><%= @post.created_at %></td>
	<td><%= @post.restaurant_name %></td>
	<td><%= @post.deal %></td>
	<td><%= @post.start_time %></td></br>
	<td><%= @post.end_time %></td></br>

		

</tr>	
</table>
</br>


 
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Add Sale', new_post_path(@post) %>
