<h1>Amazing Flash Sales!!</h1>

<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

				<li><a href="/welcome" class="active">Our Mission</a></li>

				<li><%= link_to "Our Mission", welcome_index_path %></li>

				<li><a href="/posts">Flash Sales' Listings</a></li>
				<li><a href="/dashboard">Restaurant Profile</a></li>
				<li><a href="/feedback">Help Us Improve!</a></li>
			</ul>
		</div>
	</div>
</nav>


<!-- <p>
<strong>Date:</strong>
<%= @post.created_at %>
</p>

<p>
<strong>Restaurant:</strong>
<%= @post.restaurant_name %>
</p>

<p>
<strong>Flashsale:</strong>
<%= @post.deal %>
</p>

<p>
<strong>Start Time:</strong>
<%= @post.start_time %>
</p>

<p>
<strong>End Time:</strong>
<%= @post.end_time %>
</p>
 -->

<!-- <section class="section" id="themes">
	<div class="container">
	
		<h2 class="text-center title">Flash</h2>
		<p class="lead text-center">
			Huge thank you to our team of restaurants<br>
			     and their enthusiastic customers!
		</p>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="assets/screenshots/sshot1.jpg" alt="">
					<div class="caption">
						<h3>
							<table>
								<tr>
									<th>Date</th>
									<th>Restaurant</th>
									<th>Flash Sale</th>
									<th>Start Time</th>
									<th>End Time</th>
									<th colspan="2"></th>
								</tr>
									<% @posts.each do |post| %>
								<tr>

									<td><%= post.created_at %></td>
									<td><%= post.restaurant_name %></td>
									<td><%= post.deal %></td>
									<td><%= post.start_time %></td>
									<td><%= post.end_time %></td>	
								</tr>
									<% end %>
							</table>
						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section> -->



