
<h1>Amazing Flash Sales!!</h1>

<p>
<strong>Date:</strong>
<%= @post.created_at %>
</p>

<p>
<strong>Restaurant:</strong>
<%= @post.restaurant_name %> %>
</p>

<p>
<strong>Flashsale:</strong>
<%= @post.deal %> %>
</p>

<p>
<strong>Start Time:</strong>
<%= @post.start_time %>
</p>

<p>
<strong>End Time:</strong>
<%= @post.end_time %>
</p>





